@charset "utf-8";
/* CSS Document */
a{
	hide-focus: expression(this.hideFocus=true);
	 outline: none;
	 }
body{
	font-size:12px;
	color:#000;
	background-image:url(../images/body2.jpg);
	font-family:'\5FAE\8F6F\96C5\9ED1'
	 }
.wrappernew1{
	font-size:12px;
	color:#000;
	background-image:url(../images/body.jpg);
	background-repeat:repeat-x;
		}
.wrappernew2{
	width:1033px;
	margin:0 auto;
	font-size:12px;
	color:#000;
	background-image:url(../images/body.jpg);
	background-repeat:repeat-x;
		}
*{
	margin:0;
	padding:0;
	} 
a{
	text-decoration:none;color:#535353;
	}	
a:hover{
	text-decoration:underline;
	}
ul,li,p,h3,h4{
	margin:0;
	padding:0;
	list-style-type:none;
	}
.clear{
	clear:both;
	}	
img{
	border:0;
	}

/*顶部导航开始*/
.topbar{width:1033px;height:29px; font-size:13px;line-height:29px;overflow:hidden;}
.topbar a{ color:#0E0EFE;}
.topbar-left {width:auto;float:left;}	
.topbar-right{width:auto;overflow:hidden;float:right;}	
.topbar a:hover{color:#ff5b20;}	
/*顶部导航结束*/
.logo{ width:1033px; height:101px; background-image:url(../images/logo.png); background-repeat:no-repeat;}
.logo-center{ width:121px; height:32px; margin-left:344px; *margin-left:344px; _margin-left:144px; padding-top:44px; float:left; position:relative;}
.logo-right{ width:382px; height:37px; line-height:37px; float:right;padding-top:40px; }
.banner{ width:1033px; height:371px;}
.nav{ width:1033px; height:37px; line-height:37px; font-size:18px; color:#FFFFFF; font-weight:bold;}
.nav a{ color:#FFFFFF;}
.nav li{ float:left; margin-left:90px;}
.contentwhole{ width:1033px; height:auto; margin-top:7px;}
.contentwhole-left{ width:788px; height:auto; float:left;}
.contentwhole-left-01{ width:781px; height:32px; border-bottom:2px solid #ff7c07; line-height:32px;}
.contentwhole-left-01-word{ color:#ff7c07; font-size:20px; font-weight:bold;}
.contentwhole-left-01-word2{ color:#686868; font-size:16px;font-weight:bold;}
.contentwhole-left-02{ width:788px; height:auto; margin-top:4px;}
.contentwhole-left-02 li{ float:left; width:187px; height:auto; margin-right:10px;overflow:hidden; margin-bottom:12px; } 
.contentwhole-right{ width:231px; height:auto; float:right;}
.contentwhole-right-hot{ width: 231px; height:122px;}
.contentwhole-right-02{ width:231px; height:auto; margin-top:8px;}
.contentwhole-right-03{ width:231px; height:115px; margin-top:8px; background-color:#f2f2f2;}
.wrap a { display:block; width:187px; height:268px; text-decoration:none; color:#000;  overflow:hidden;}
.wrap a:hover { display:block; width:187px; height:268px; text-decoration:none; color:#000;  overflow:hidden;}
.wrap { width:187px; height:268px; overflow:hidden; font-weight:bold;  position:relative; overflow:hidden;  border:0; margin:0px; float:left; display:inline; }
.wrap img { border:0; }
.wrap i { display:block; width:187px; height:268px; position:absolute; left:0; top:220px; z-index:1; background:#000; filter:alpha(opacity=6); opacity:0.6; 
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); -webkit-transition: all 0.6s ease-in-out; }
.wrap p { overflow:hidden; display:block; width:187px; height:268px;  position:absolute; left:0; top:220px; z-index:1; background:transparent; font-size:11px; color:#fff; padding:0; margin:0; line-height:16px; -webkit-transition: all 0.6s ease-in-out; }
.wrap p  { display:block; font-size:13px; padding-left:30px; width:187px; overflow:hidden; color:#fff;  line-height:25px; }
.wrap p span { display:block; padding-top:37px; line-height:25px; font-size:12px; }
.wrap a:hover { direction:ltr; }
.wrap a:hover i { top:0; }
.wrap a:hover p { top:0; }
.wrap2 { width:187px; height:268px; overflow:hidden; font-weight:bold;  position:relative; overflow:hidden; font-family:arial, sans-serif; border:0; margin:0px; float:left; display:inline; }
.text-01-1{ font-size:14px; font-weight:bold; color:#000;}
.text-01-2{ font-size:14px; font-weight:bold; color:#f84a24;}
.text-01{ font-size:16px; font-weight:bold; color:#000;}
.text-02{ font-size:14px; font-weight:bold; color:#787878;}
.text-03{ font-size:16px; font-weight:bold; color:#787878;}
.text-04{ font-size:25px; font-weight:bold; color:#ff7c07;}
#movienew tr td { padding-top:15px; padding-bottom:15px;}
#movienew  tr td { border-bottom:1px dashed #000;}
.text-06{height:32px;cursor:pointer;width:121px; background:url(../images/button.png); background-repeat:no-repeat;color:#949494;font-size:13px;line-height:32px;border:none;}		
form { 
margin: 0; 
} 
#search_box { 
width: 382px; 
height: 37px;
background:url(../images/search.png);
} 
#search_box #s { 
float: left; 
padding: 0; 
margin: 12px 0px 0 20px; 
border: 0; 
width: 300px; 
background: none;
color:#bbbbbb;
font-size:14px;
} 
#search_box #go { 
float: right; 
margin: -1px 0px 0 0; 
} 




.hotlist {width:217px;padding:1px 0 0 10px;border:1px solid #E6E6E6;height:auto;float:right; overflow:hidden;}
.hotlist h3 {height:25px;font-size:14px;font-weight:bold;color:#000;text-indent:2em;}
.hotlist dl {border-bottom:1px dashed #d2d2d2;overflow:hidden;zoom:1;padding:6px 0;}
.hotlist dl a:hover {color:#dc0000;}
.hotlist dl dt {height:26px;padding:0 10px 0 0;overflow:hidden;}
.hotlist dl dt a {height:26px;line-height:26px;}
.hotlist dl dt b {float:left;width:25px;height:23px; padding-top:2px;margin:0 8px 0 0;background-position:-114px -343px;font:normal 13px/21px Arial;text-align:center;font-weight:bold;color:#979797;}
.hotlist dl dd {height:97px;position:relative;display:none;padding:0 4px 0 32px;zoom:1;overflow:hidden;}
.hotlist dl dd b {position:absolute;z-index:90;left:0;width:25px;height:25px;background-position:-114px -343px;text-align:center;font:bold 18px/25px Arial;color:#979797;font-weight:bold;}
.hotlist dl dd b span {display:block;border-bottom:1px solid #181111;color:#181111;font-size:12px;}
.hotlist dl dd a img {display:block;width:68px;height:97px;padding:0 0 5px 0;border:1px solid #ccc;float:left;margin-right:8px;}
.hotlist dl dd em {display:block;color:#000;font:18px/24px 'Tahoma';}
.hotlist dl dd em span{font:bold 14px/24px 'Microsoft YaHei';}
.hotlist .on dt {display:none;}
.hotlist .on dd {display:block;}
.hotlist-adv img {float:right;margin:10px 0 0;}
/*页脚开始*/
.friendlink{width:1031px;height:40px;line-height:40px;text-align:center;font-weight:bold; }
.friendlink a{color:#484848;margin-left:5px; }
.friendlink a:hover{color:#484848;text-decoration:underline; }	
.copyright{width:1033px;height:56px;line-height:22px;background-repeat:no-repeat;text-align:center;color:#424041;}	
.fontArial{font-size:20px;vertical-align:middle;}
/*页脚结束*/
.text-007{margin-top:17px; width:195px; font-size:14px; height:26px; line-height:26px; text-indent:8px; color:#666666; border:1px solid #bfbfbf;}
.text-077{height:35px;cursor:pointer;width:97px; background:url(../images/button2.jpg);background-repeat:no-repeat;color:#373638;font-size:14px;line-height:35px;border:none;}

/*******************************************************************************************/
.left{float:left;}
.right{float:right;}
.city_div{width:300px; background:#ffffff; border:1px solid #cccccc; position:absolute; left:0; top:73px; display:none;}
.city_div li{float:left; line-height:30px; padding:0 10px;}
.banner_left{width:792px; height:370px; overflow:hidden;}
.bj{background:url(../images/bj_bg.gif) no-repeat 0 0; width:233px; height:276px; overflow:hidden; padding-top:94px; padding-left:8px;}
.select_box {width:221px;position:relative;font-size:12px; color:#909090;}
.select_box input {cursor:pointer; display:block; line-height:34px; width:213px; height:34px; background:url(../images/select_bg.gif) no-repeat 0 0; color:#474747; overflow:hidden; border:none 0; padding-left:8px;}
.select_box ul{width:219px; position:absolute; left:0; top:34px; border:1px solid #ccc; background:#fff; overflow: hidden;display:none; z-index:999;}
.select_box ul li {display:block;height:24px;overflow:hidden;line-height:24px;padding-left:8px;width:211px;cursor:pointer; color:#474747;}
.mtp40{margin-top:40px;}
.bj_btn_div{margin-top:16px; padding-left:35px;}
.bj_btn_div input{background:url(../images/bj_btn.gif) no-repeat 0 0; width:138px; height:41px; border:none 0; cursor:pointer;}
.bj_video{padding-left:8px; color:#ffffff; margin-top:10px;}
.bj_video li a{color:#ffffff; line-height:20px;}
.videobox{width:1019px; height:348px; background:#eeeeee; margin-top:30px; padding:12px 7px; margin-bottom:25px;}
.video_right{width:735px; padding-left:23px;}
.video_top{width:735px; height:93px; border-bottom:1px solid #aaaaaa;}
.video_top h1{font-size:28px;}
.video_top span{padding-left:15px;}
.mtp10{margin-top:10px;}
.mtp20{margin-top:20px;}
.starring{width:215px; padding-right:20px; line-height:24px;}
.starring h1{font-size:40px; color:#ff7c07; margin-bottom:30px; line-height:40px;}
.starring h1 span{font-size:22px;}
.video_introduce{width:495px; line-height:24px;}
.video_introduce h1{font-size:12px; font-weight:100;}
.video_list{width:765px;}
.video_list h1{width:100%; height:24px; font-size:12px;}
.video_list h1 span{font-size:18px;}
.xz_ul{width:100%;}
.xz_ul li{float:left; padding:0 3px; line-height:24px;}
.xz_ul li a.on{color:#fe8528;}
.bdm1{border-bottom:1px dashed #707070; padding-bottom:15px;}
.xz_tj{width:100%; height:24px; font-size:20px; margin-top:5px;}
.f18{font-size:18px;}
.f14{font-size:14px;}
.video_table td{vertical-align:top;}
.orange{color:#fe8528;}
.f30{font-size:30px; line-height:30px;}
.lin24{line-height:24px;}
.list_right{width:231px;}
.hot_list{margin-top:12px; background:#ffffff;}
.hot_tt{width:211px; height:36px; line-height:36px; font-size:18px; font-weight:bold; border-bottom:1px solid #dbdbdb; padding:0 10px;}
.hot_tt span{font-size:12px; font-weight:100;}
.right_video{width:221px; height:122px; padding-left:10px; margin-top:10px; border-bottom:1px solid #dbdbdb;}
.right_video dt{width:66px; height:98px; float:left;}
.right_video dd{float:left; width:135px; padding-left:5px;}
.moviebox{width:993px; height:237px; background:#eeeeee; margin-top:30px; padding:15px 20px; margin-bottom:25px;}
.movie_tp{width:234px; height:233px;}
.movie_txt{width:730px; padding-left:25px;}
.movie_txt_top{width:100%; height:93px; border-bottom:1px solid #aaaaaa;}
.mlt10{margin-left:10px;}
.lc{width:765px;}
.movie_tab{height:30px; width:100%; border-bottom:1px solid #aaaaaa;}
.movie_tab li{float:left; width:175px; height:30px; margin-right:5px; display:inline; background:#e4e4e4; font-size:20px; color:#606b73; text-align:center; line-height:30px; cursor:pointer;}
.movie_tab li.on{background:#606b73; color:#ffffff;}
.movie_list_div{width:100%; float:left; padding-bottom:10px; border-bottom:1px dashed #707070; padding-top:25px;}
.movie_tp_div{width:123px; height:176px; overflow:hidden;}
.movie_list_txt{width:315px; padding-left:10px;}
.movie_tab_div{width:100%; height:26px; border-bottom:2px solid #ff7c07; margin-top:45px;}
.movie_tab_div li{float:left; padding:0 10px; height:26px; line-height:26px; cursor:pointer; font-size:18px;}
.movie_tab_div li.on{background:#ff7c07; color:#ffffff;}
.tab_xz{width:100%; height:36px; background:#ffffff;}
.tab_xz li{float:left; line-height:36px; padding:0 5px;}
.month{font-size:24px; width:100%; height:36px;}
.w100{width:100%;}
.movie_dl{margin-top:10px;}
.movie_dl dd{line-height:24px;}
.movie_dl dd.tt{font-size:18px;}
.mrt10{margin-right:14px; display:inline;}
.contentwhole-left-02 li.mrt18{margin-right:18px;}
.gp_table{display:none;}
.gp_table th.aleft{text-align:left;}
.gp_table th{border-bottom:1px dashed #c9c9c9;}
.gp_table th,.gp_table td{padding:15px;}
.gp_table td.acenter{text-align:center;}
.lc_top{width:765px; height:30px; line-height:30px;}
.lc_nr{border:1px solid #b5b5b5;}
.c787878{color:#787878;}
.mp_table td{padding:10px 20px;}