<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>购买电影</title>
<link href="css/style-movie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="iepngfix_tilebg.js"></script>

<style type="text/css">

 /*
  USAGE:
  Copy and paste this one line into your site's CSS stylesheet.
  Add comma-separated CSS selectors / element names that have transparent PNGs.
  Remember that the path is RELATIVE TO THIS HTML FILE, not the CSS file.
  See below for another method of activating the script without adding CSS here.
 */

 img, div, input { behavior: url("iepngfix.htc") }


 /*
  Here's an example you might use in practice:
  img, div.menu, .pngfix, input { behavior: url("/css/iepngfix.htc") }
 */

 </style>

 <!--
  Consider wrapping the <style> element above in IE conditional comments.
  This will prevent the .HTC being downloaded by IE7+ at all.
  This might not work in IE6 installed alongside IE7 on the same computer.
  -->

 <!--[if lte IE 6]><style>/* ... your rules ... */</style><![endif]-->


 <script type="text/javascript">
 //<![CDATA[

 // If you don't want to put nonstandard properties in your stylesheet, here's yet
 // another means of activating the script. This assumes that you have at least one
 // stylesheet included already in the document above this script.
 // To activate, delete the CSS rules above and uncomment below (remove /* and */ ).

 /*
 if (document.all && /MSIE (5\.5|6)/.test(navigator.userAgent) &&
  document.styleSheets && document.styleSheets[0] && document.styleSheets[0].addRule)
 {
  document.styleSheets[0].addRule('*', 'behavior: url(iepngfix.htc)');
  // Feel free to add rules for specific elements only, as above.
  // You have to call this once for each selector, like so:
  //document.styleSheets[0].addRule('img', 'behavior: url(iepngfix.htc)');
  //document.styleSheets[0].addRule('div', 'behavior: url(iepngfix.htc)');
 }
 */


 // Here's another script that disables all PNGs in IE when the page is printed.
 /*
 if (window.attachEvent && /MSIE (5\.5|6)/.test(navigator.userAgent))
 {
  function printPNGFix(disable)
  {
   for (var  i = 0; i < document.all.length; i++)
   {
    var e = document.all[i];
    if (e.filters['DXImageTransform.Microsoft.AlphaImageLoader'] || e._png_print)
    {
     if (disable)
     {
      e._png_print = e.style.filter;
      e.style.filter = '';
     }
     else
     {
      e.style.filter = e._png_print;
      e._png_print = '';
     }
    }
   }
  };
  window.attachEvent('onbeforeprint',  function() { printPNGFix(1) });
  window.attachEvent('onafterprint',  function() { printPNGFix(0) });
 }
 */

 //]]>
 </script>
</head>

<body >
<div class="wrappernew1">
<div class="wrappernew2">
<!--顶部导航开始-->
<div class="topbar">
	<div class="topbar-left">目前已有60个城市  2123家影院在此比价</div>
    <div class="topbar-right">您好！欢迎来到一号厅！请 <a href="#">登录</a> 或 <a href="#">注册</a> <a href="#">收藏夹</a> </div>
</div>
<div class="clear"></div>
<!--顶部导航结束-->
<!--banner start-->
<div class="logo">
	<div class="logo-center"><input type="button" class="text-06 city_btn" value="城市" /><div class="city_div"><ul><li><a href="#">北京(125)</a></li><li><a href="#">上海(125)</a></li><li><a href="#">深圳(125)</a></li><li><a href="#">郑州(125)</a></li><li><a href="#">南京(125)</a></li></ul></div></div>
    <div class="logo-right">
    	<div id="search_box"> 
<form id="search_form" method="post" action="#"> 
<input type="text" id="s" value="输入您要搜索的影片或影院" class="swap_value" /> 
<input type="image" src="images/btn_search_box2.gif" width="36" height="37" id="go" alt="Search" title="Search" /> 
</form> 
</div> 
    </div>
</div>
<!--banner end-->
  <div class="nav">
  <ul>
  	<li><a href="index.html">首页</a></li>
    <li><a href="showing.html">影片</a></li>
    <li><a href="cinema.html">影院</a></li>
  </ul>
  </div>
<div class="contentwhole">
	<div class="videobox">
    <div class="left"><img src="images/01.jpg" /></div>
    <div class="video_right left">
    <div class="video_top"><h1>北京遇上西雅图<span><img src="images/sy.gif" /></span></h1><p class="mtp10"><img src="images/video_xg.gif" border="0" usemap="#Map" />
        <map name="Map" id="Map"><area shape="rect" coords="194,0,291,40" href="#fypq" /><area shape="rect" coords="92,-9,189,31" href="#" />
          <area shape="rect" coords="1,1,87,41" href="#fypq" />
        </map>
    </p>
    </div>
    
    <div class="mtp10">
    <div class="starring left">
    <h1>8.<span>2</span></h1>
    <p>导演：薛晓路</p>
    <p>主演：汤唯 吴秀波 海清</p>
    <p>地区：内地</p>
    <p>类型：爱情</p>
    <p>上映时间：2013.3.21</p>
    <p>片长：119分钟</p>
    </div>
    
    <div class="video_introduce right">
    <h1>剧情介绍</h1>
    <p>影片的故事大纲近日公布，汤唯饰演的文佳佳是一位富豪的女友，把奢侈品牌当作生活必需品，为了用金钱砸出个"美利坚国民"的身份，于是来到西雅图代孕产子。</p><p>在当地的月子中心，汤唯与为女儿教育问题移民美国的单亲爸爸Frank（吴秀波饰）相识。本来二人只是萍水相逢，但是圣诞夜，汤唯遭遇大陆富豪男友离奇失踪，一下子断了财源，从富人变成了穷人，只能节俭起来。而曾为大陆名医的Frank也自然担负起照顾汤唯的责任。两人朝夕相处，产生了微妙的感情。</p><p>汤唯的孩子出生了，富豪男友却再次出现，并将其接回中国并求婚。生活虽如过往般奢华，汤唯却频频想念Frank。最终汤唯决定做一个单亲妈妈。 　　两年后汤唯再来美，在浪漫的纽约帝国大厦与Frank再度相遇。</p>
    </div>
    
    </div>
    
    </div>
    </div>
    
    <div class="video_list left">
    
    <div class="bdm1">
	<a name="fypq"></a>
    <h1><span>放映排期</span>（本放映排期时间仅作参考，具体播放时间以影院实际播放为准）</h1>	
    <ul class="xz_ul mtp10"><li>所属区域：</li><li><a href="#" class="on">全部</a></li>
      <li>|</li>
      <li><a href="#">东城</a></li>
      <li>|</li>
      <li><a href="#">西城</a></li>
      <li>|</li>
      <li><a href="#">崇文</a></li>
      <li>|</li>
      <li><a href="#">宣武</a></li>
      <li>|</li>
      <li><a href="#">朝阳</a></li>
      <li>|</li>
      <li><a href="#">海淀</a></li>
      <li>|</li>
      <li><a href="#">丰台</a></li>
      <li>|</li>
      <li><a href="#">石景山</a></li>
      <li>|</li>
      <li><a href="#">昌平</a></li>
      <li>|</li>
      <li><a href="#">顺义</a></li>
      <li>|</li>
      <li><a href="#">通州</a></li>
      <li>|</li>
      <li><a href="#">大兴</a></li>
      <li>|</li>
      <li><a href="#">门头沟</a></li>
      <li>|</li>
      <li><a href="#">房山</a></li>
      <li>|</li>
      <li><a href="#">怀柔</a></li>
      <li>|</li>
      <li><a href="#">延庆</a></li>
      <li>|</li>
      <li><a href="#">密云</a></li>
      <li>|</li>
      <li><a href="#">平谷</a></li>
    </ul>
    <div class="clear"></div>
    <ul class="xz_ul mtp10"><li><a href="#">订购类型：</a></li>
      <li><a href="#" class="on">全部</a></li>
      <li>|</li>
      <li><a href="#">在线选座</a></li>
      <li>|</li>
      <li><a href="#">兑换券</a></li>
      <li>|</li>
      <li><a href="#">团购</a></li>
    </ul>
    <div class="clear"></div>
    <ul class="xz_ul mtp10"><li>排期时间：</li><li><a href="#" class="on">今天</a></li>
      <li>|</li>
      <li><a href="#">明天</a></li>
    </ul>
    <div class="clear"></div>
    </div>
    
    <div class="xz_tj">东城</div>
    
    
    <div class="bdm1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp20 video_table">
  <tr>
    <td width="125"><a href="movietheaters"><img src="images/02.jpg" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="415"><h2 class="f18"><a href="movietheaters.html">UME国际影城（安贞店）</a></h2>
    <p class="f14">地址：北京市东城区北三环36号环球贸易中心三期B1/F1/F3<br />电话：010-58257733</p></td>
    <td width="100"><span class="orange f30"><strong>29</strong></span>元起</td>
    <td><a href="javascript:void(0)" class="btn" id="a2"><img src="images/button.jpg" /></a></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp10">
  <tr>
    <td width="38"><img src="images/pic1.png" width="26" height="26" /></td>
    <td width="38"><img src="images/pic2.png" width="26" height="26" /></td>
    <td width="240"><img src="images/pic3.png" width="26" height="26" /></td>
    <td><p class="lin24">09:30|10:30|11:30|12:30|13:30|14:00|14:10|14:30|<br />15:30|16:30|17:30|18:30|19:30|20:30|21:30|22:30</p></td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gp_table" id="list_a2">
  <tr>
    <th class="aleft">购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th></th>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
</table>
    </div>
    <div class="bdm1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp20 video_table">
  <tr>
    <td width="125"><a href="movietheaters"><img src="images/02.jpg" border="0" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="415"><h2 class="f18"><a href="movietheaters.html">UME国际影城（安贞店）</a></h2>
    <p class="f14">地址：北京市东城区北三环36号环球贸易中心三期B1/F1/F3<br />电话：010-58257733</p></td>
    <td width="100"><span class="orange f30"><strong>29</strong></span>元起</td>
    <td><a href="javascript:void(0)" class="btn" id="a3"><img src="images/button.jpg" /></a></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp10">
  <tr>
    <td width="38"><img src="images/pic1.png" width="26" height="26" /></td>
    <td width="38"><img src="images/pic2.png" width="26" height="26" /></td>
    <td width="240"><img src="images/pic3.png" width="26" height="26" /></td>
    <td><p class="lin24">09:30|10:30|11:30|12:30|13:30|14:00|14:10|14:30|<br />15:30|16:30|17:30|18:30|19:30|20:30|21:30|22:30</p></td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gp_table" id="list_a3">
  <tr>
    <th class="aleft">购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th></th>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
</table>
    </div>
    <div class="bdm1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp20 video_table">
  <tr>
    <td width="125"><a href="movietheaters"><img src="images/02.jpg" border="0" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="415"><h2 class="f18"><a href="movietheaters.html">UME国际影城（安贞店）</a></h2>
    <p class="f14">地址：北京市东城区北三环36号环球贸易中心三期B1/F1/F3<br />电话：010-58257733</p></td>
    <td width="100"><span class="orange f30"><strong>29</strong></span>元起</td>
    <td><a href="javascript:void(0)" class="btn" id="a4"><img src="images/button.jpg" /></a></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp10">
  <tr>
    <td width="38"><img src="images/pic1.png" width="26" height="26" /></td>
    <td width="38"><img src="images/pic2.png" width="26" height="26" /></td>
    <td width="240"><img src="images/pic3.png" width="26" height="26" /></td>
    <td><p class="lin24">09:30|10:30|11:30|12:30|13:30|14:00|14:10|14:30|<br />15:30|16:30|17:30|18:30|19:30|20:30|21:30|22:30</p></td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gp_table" id="list_a4">
  <tr>
    <th class="aleft">购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th></th>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
</table>
    </div>
    <div class="bdm1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp20 video_table">
  <tr>
    <td width="125"><a href="movietheaters"><img src="images/02.jpg" border="0" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="415"><h2 class="f18"><a href="movietheaters.html">UME国际影城（安贞店）</a></h2>
    <p class="f14">地址：北京市东城区北三环36号环球贸易中心三期B1/F1/F3<br />电话：010-58257733</p></td>
    <td width="100"><span class="orange f30"><strong>29</strong></span>元起</td>
    <td><a href="javascript:void(0)" class="btn" id="a5"><img src="images/button.jpg" /></a></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp10">
  <tr>
    <td width="38"><img src="images/pic1.png" width="26" height="26" /></td>
    <td width="38"><img src="images/pic2.png" width="26" height="26" /></td>
    <td width="240"><img src="images/pic3.png" width="26" height="26" /></td>
    <td><p class="lin24">09:30|10:30|11:30|12:30|13:30|14:00|14:10|14:30|<br />15:30|16:30|17:30|18:30|19:30|20:30|21:30|22:30</p></td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gp_table" id="list_a5">
  <tr>
    <th class="aleft">购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th></th>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
</table>
    </div>
    <div class="bdm1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp20 video_table">
  <tr>
    <td width="125"><a href="movietheaters"><img src="images/02.jpg" border="0" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="415"><h2 class="f18"><a href="movietheaters.html">UME国际影城（安贞店）</a></h2>
    <p class="f14">地址：北京市东城区北三环36号环球贸易中心三期B1/F1/F3<br />电话：010-58257733</p></td>
    <td width="100"><span class="orange f30"><strong>29</strong></span>元起</td>
    <td><a href="javascript:void(0)" class="btn" id="a6"><img src="images/button.jpg" /></a></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="mtp10">
  <tr>
    <td width="38"><img src="images/pic1.png" width="26" height="26" /></td>
    <td width="38"><img src="images/pic2.png" width="26" height="26" /></td>
    <td width="240"><img src="images/pic3.png" width="26" height="26" /></td>
    <td><p class="lin24">09:30|10:30|11:30|12:30|13:30|14:00|14:10|14:30|<br />15:30|16:30|17:30|18:30|19:30|20:30|21:30|22:30</p></td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gp_table" id="list_a6">
  <tr>
    <th class="aleft">购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th></th>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
  <tr>
  <td><img src="images/qq.jpg" /></td>
  <td class="acenter">5</td>
  <td class="acenter"><img src="images/pic2.png" width="26" height="26" /></td>
  <td class="acenter"><span class="orange f30"><strong>29</strong></span>元起</td>
  <td class="acenter"><a href="http://piao.qq.com/dianying/buy.html?city=10&cinema=1000384&ticket=2004762"><img src="images/gp.jpg" /></a></td>
  </tr>
</table>
    </div>
    
    
    </div>
    
    <div class="list_right right">
    <p><img src="images/hot.jpg" /></p>
    
    <div class="hot_list">
    
    <div class="hot_tt"><span class="right"><a href="#">查看全部&gt;&gt;</a></span>其他热映</div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    <div class="right_video">
    
    <dl><dt><a href="#"><img src="images/03.jpg" /></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="images/xx.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
    
    </div>
    
    </div>
    </div>

  <div class="clear"></div>
  <!--页脚开始-->
  <p style="text-align:center;padding-top:30px;"><img src="images/footerlogo.png" width="112" height="58" /></p>
<div class="friendlink">  
    <font style="color:#808080;">友情链接</font>
    <a href="http://www.beiwaionline.com">北外网院</a>
    <a href="http://www.beiwaibest.com">北外成功英语</a>
    <a href="http://qingshao.beiwaibest.com">剑桥证书</a>
    <a href="http://qingshao.beiwaibest.com">北外青少英语</a>
    <a href="http://liuxue.beiwaibest.com">北外留学预科 </a>
    <a href="http://www.bfsu.edu.cn">北京外国语大学</a> 
    <a href="http://www.bfsu.edu.cn">外研社</a> 
    <a href="http://www.bfsu.edu.cn">剑桥ESOL考试中心</a>
    <a href="http://www.bfsu.edu.cn">土豆视频空间</a>
    <a href="http://www.bfsu.edu.cn">教育团购网</a>
</div>
<div class="copyright">
<p>京ICP备05073170号 Copyright  <span class=fontArial>&copy;</span> 2001-2012 beiwaionline.com, All Rights Reserved</p>
<p>************************************************************　Email:eclass@beiwaionline.com</p>
  <p style="text-align:center;padding-top:10px; padding-bottom:30px;"><img src="images/web.gif" width="112" height="41" /></p>
</div>
<!--页脚结束-->

</div>
</div>
</div>
<script type="text/javascript" src="js/55D.js"></script>
<script>
$(".city_btn").toggle(function(){
	$(".city_div").slideToggle();
	},function(){
	$(".city_div").slideUp();	
	})
$(".btn").click(function(){
    var index = $(this).attr('id');
	$("#list_"+index).toggle();
 });
</script>
</body>
</html>
