<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {include file="inc_header.html" tab="none" type="cinema"}
<!--main-->
<div class="w980 clearfix">
<div class="location">您现在的位置：<a href="{$base_url}nowplay">首页</a>&gt;<a href="{$base_url}cinema">影院</a></div>

<div class="movie_top clearfix">
<div class="movie_img left"><img src="{$cinemaInfo->c_imgurl}" onload="AutoResizeImage(163,163,this)"/></div>
<div class="movie_txt_right right">
<div class="movie_tt">
<h1>{$cinemaInfo->c_name}</h1>
</div>
<p class="mtp10"><span class="mrt10"><img src="{$base_url}images/pic01.gif"></span><span class="mrt10"><img src="{$base_url}images/pic02.gif"></span><span><img src="{$base_url}images/pic03.gif"></span></p>
<p>电话：{$cinemaInfo->c_phone}</p>
<p>地址：{$cinemaInfo->c_address}</p>
</div>
</div>

<div class="video_list left">
<p class="f14">已搜索<b class="red">27</b>家购票网站</p>
<div class="bijia mtp5" id="bj">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mp_table">
  <tr>
    <td><p class="f14 red"><strong>2D电子券</strong></p><p>不包含情人节、圣诞节、平安夜、VIP厅</p></td>
    <td><p class="f18 yj">原价：<span style="text-decoration:line-through;">￥70</span></p></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td width="90"><a class="gp bjgp" href="javascript:void(0)" id="a1">比价购票</a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="video_bj_table left" style="margin-top:0;" id="list_a1">
  <tr>
    <th>购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th width="90">&nbsp;</th>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr style="display:none;" class="video_none">
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td colspan="5" class="zhankai"><div class="zk_btn"><span>全部展开</span></div></td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mp_table">
  <tr>
    <td><p class="f14 red"><strong>3D电子券</strong></p><p>不包含情人节、圣诞节、平安夜、VIP厅</p></td>
    <td><p class="f18 yj">原价：<span style="text-decoration:line-through;">￥70</span></p></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td width="90"><a class="gp bjgp" href="javascript:void(0)" id="a2">比价购票</a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="video_bj_table left" style="margin-top:0;" id="list_a2">
  <tr>
    <th>购票网站</th>
    <th>靠谱度</th>
    <th>票种类</th>
    <th>票价</th>
    <th width="90">&nbsp;</th>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr style="display:none;" class="video_none">
    <td><strong>QQ网购</strong></td>
    <td>5</td>
    <td><span class="mrt10"><img src="images/pic01.gif"></span><span class="mrt10"><img src="images/pic02.gif"></span><span><img src="images/pic03.gif"></span></td>
    <td><span class="f36"><strong>29</strong></span>元起</td>
    <td><a href="#" class="gp1">购票</a></td>
  </tr>
  <tr>
    <td colspan="5" class="zhankai"><div class="zk_btn"><span>全部展开</span></div></td>
    </tr>
</table>
</div>

<div class="movie_tab_div clearfix">
    <ul id="tab"><li class="on" index="cinemapq">放映排期</li><li index="cinema_about">影院介绍</li></ul>
</div>

<div id="tab_div">
<div class="mtp10" id="cinemapq">
<p>本放映排期时间仅作参考，具体播放时间以影院实际播放为准</p>
<div class="movie_search mtp10">
<div class="clearfix w100">
<p class="left m3">排期时间：</p>
      <input type="hidden" id="pqtime" value="{$obj->dayId}"/>
      <ul class="xz_ul left clearfix pqtime" style="width:auto;">
      <li><a href="javascript:void(0);"  {if $obj->dayId == 1}class="on"{/if} index="1">今天</a></li>
      <li>|</li>
      <li><a href="javascript:void(0);" index="2" {if $obj->dayId == 2}class="on"{/if}>明天</a></li>
      </ul>
    </div>
<div class="clearfix w100">
<p class="left m3">语言类型：</p>
    <input type="hidden" id="language" value="{$obj->languageId}"/>
    <ul class="xz_ul left clearfix language" style="width:auto;"><li><a href="javascript:void(0);" {if $obj->languageId == 0}class="on"{/if} index="0">全部</a></li>
    {foreach from=$language key=ky item=lg}
    <li>|</li><li><a href="javascript:void(0);" index="{$ky}" {if $obj->languageId == $ky}class="on"{/if}>{$lg}</a></li>
    {/foreach}
    </ul>
    </div>
<div class="clearfix w100">
<p class="left m3">版本选择：</p>
    <input type="hidden" id="type" value="{$obj->typeId}"/>
    <ul class="xz_ul left clearfix type" style="width:auto;">
    <li><a href="javascript:void(0);" {if $obj->typeId == 0}class="on"{/if} index="0">全部</a></li>
    {foreach from=$type item=tp key=ky}
    <li>|</li><li><a href="javascript:void(0);" index="{$ky}" {if $obj->typeId == $ky}class="on"{/if}>{$tp}</a></li>
    {/foreach}
    </ul>
    </div>
</div>
{if $dealInfo}
{foreach from=$dealInfo key=k item=val}
    <div class="clearfix video_list_div">
    <div class="movie_video left"><img src="{$base_url}images/{$k}_large.jpg" onload="AutoResizeImage(140,200,this)"/></div>
    <div class="movie_right_div right">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="video_table">
  <tr>
    <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><h2><a href="#">{$val['alt_title']}</a></h2>
    <p>地区: {$val['country']}<br />导演: {$val['director']}<br />主演: {$val['cast']}<br />类型：{$val['movie_type']}</p></td>
    <td width="90"><p><a class="gp bjgp" href="#bj">比价购票</a></p><p class="mtp10"><a href="#" class="gp2">在线选座</a></p></td>
  </tr>
</table>
</td>
  </tr>
  {foreach from=$val['s_time'] key=n item=v}
  <tr>
  <td>
    <div class="mtp10">
      <span class="language_video left"><b>{$v['type']}</b>{$v['language']}</span>
      <ul class="left video_time">
        {foreach from=$v['time'] key=index item=time}
         {if $index != 0}
        <li>|</li>
        {/if}
        <li>{$time}</li>
        {/foreach}
      </ul>
    </div>
  </td>
  </tr>
  {/foreach}
</table>
    </div>
    
    </div>
{/foreach}
{/if}
</div>

<div id="cinema_about">
<div class="about_div">
<h2 class="about_h2">详细信息</h2>
<p>影院地址：{$cinemaInfo->c_address}</p>
<p>影院电话：{$cinemaInfo->c_phone}</p>
<p>乘车路线：{$cinemaInfo->c_riding}</p>
</div>
<div class="about_div">
<h2 class="about_h2">详细介绍</h2>
<p>{$cinemaInfo->c_content}</p>
</div>
<div class="about_div">
<h2 class="about_h2" style="margin-bottom:0;">影院风采</h2>
<ul class="yy_tp clearfix">
  {foreach $cinemaImgUrl item=imgInfo}
  <li><img src="{$imgInfo->c_imgurl}" onload="AutoResizeImage(200,200,this)"/></li>
  {/foreach}
</ul>
</div>
</div>

</div>

</div>


<div class="video_list_right right">
    <div class="right_banner"><a href="#"><img src="{$base_url}images/03.jpg"></a></div>
    <div class="hot_video">
        <div class="hot_video_tt"><span class="right"><a href="{$base_url}list">更多</a></span>其他热门影片</div>
        <div class="hot_video_list clearfix">
            {foreach from=$topMovie key=rank item=topInfo name=foo}
            <dl class="right_video clearfix">
                <dt>
                    <img src="{$base_url}images/{$topInfo->d_id}_small.jpg" onload="AutoResizeImage(60,98,this)"/>
                </dt>
                <dd>{$topInfo->pubdate}</dd>
                <dd><a href="{$base_url}movie/{$topInfo->d_id}/108288">{$topInfo->title}</a></dd>
                <dd>
                    {if $topInfo->rating >=0 && $topInfo->rating <2}
                    <img src="{$base_url}images/star01.gif" />
                    {elseif $topInfo->rating >2 && $topInfo->rating <4}
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    {elseif $topInfo->rating >4 && $topInfo->rating <6}
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    {elseif $topInfo->rating >6 && $topInfo->rating <8}
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star02.gif" />
                    {elseif $topInfo->rating >8 && $topInfo->rating <10}
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star01.gif" />
                    <img src="{$base_url}images/star02.gif" />
                    {/if}
                </dd>
                <dd>类型：{$topInfo->movie_type}</dd>
                <dd>地区：{$topInfo->country}</dd>
            </dl>
            {/foreach}
        </div>
    </div>
</div>


</div>

<!--footer-->
 {include file="inc_footer.html"}
        <script>
            //搜索获取失去焦点事件
            $(".search input.txt").focus(function(){
                $(this).parent().addClass("search_on");
            })
            $(".search input.txt").blur(function(){
                $(this).parent().removeClass("search_on");
            })
            $(".search").hover(function(){
                $(this).addClass("search_on");
            })
            //tab切换
            $(function(){
             $("#tab_div>div:not(:first)").hide();
             $("#cinemapq").show();
             $("#tab li").hover(function(){
                var index = $(this).attr("index");
                $(this).addClass("on").siblings().removeClass("on");
                $("#" + index).show().siblings().hide();
             });


              $(".pqtime li a").click(function(){
                  var that = this;
                  $(that).parents("ul").find("li a").each(function() {
                      $(this).removeClass("on");
                  });
                  $(that).addClass("on");
                  $("#pqtime").val($(that).attr("index"));
                  joinLocalUrl();
              });

              $(".language li a").click(function(){
                  var that = this;
                  $(that).parents("ul").find("li a").each(function() {
                      $(this).removeClass("on");
                  });
                  $(that).addClass("on");
                  $("#language").val($(that).attr("index"));
                  joinLocalUrl();
              });

              $(".type li a").click(function(){
                  var that = this;
                  $(that).parents("ul").find("li a").each(function() {
                      $(this).removeClass("on");
                  });
                  $(that).addClass("on");
                  $("#type").val($(that).attr("index"));
                  joinLocalUrl();
              });
            });

        function joinLocalUrl() {
            var path = [];
            var url = window.location.href;
            var urlArray = url.split("/");
            var index = 0;
            for(var i in urlArray) {
                path.push(urlArray[i]);
                if(urlArray[i] == 'movie') {
                    index = 1;
                }
                if(index > 2)  break;
                else if(index > 0) index++;
            }
            path = path.join("/");
            
            var pqtime = $(".pqtime .on").attr("index");
            var language = $(".language .on").attr("index");
            var type = $(".type .on").attr("index");
            path += "/" + pqtime + "/" + language + "/" + type;
            window.location.href = path;
        }
        </script>
</body>
</html>
