<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>影票夹</title>
<link href="{$base_url}css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$base_url}js/jquery-1.4.2.min.js"></script>
<script src="{$base_url}js/jquery.soChange-min.js" type="text/javascript"></script>
<script type="text/javascript" src="{$base_url}js/cookies.min.js"></script>
<script type="text/javascript">
function AutoResizeImage(maxWidth, maxHeight, objImg) {
    var img = new Image();
    img.src = objImg.src;
    var hRatio;
    var wRatio;
    var Ratio = 1;
    var w = img.width;
    var h = img.height;
    wRatio = maxWidth / w;
    hRatio = maxHeight / h;
    if (maxWidth == 0 && maxHeight == 0) {
        Ratio = 1;
    } else if (maxWidth == 0) { //
        if (hRatio < 1)
            Ratio = hRatio;
    } else if (maxHeight == 0) {
        if (wRatio < 1)
            Ratio = wRatio;
    } else if (wRatio < 1 || hRatio < 1) {
        Ratio = (wRatio <= hRatio ? wRatio : hRatio);
    }
    if (Ratio < 1) {
        w = w * Ratio;
        h = h * Ratio;
    }
    objImg.height = h;
    objImg.width = w;
}
</script>
</head>
{if $tab == 'nowplaying'}
<body>
{/if}
<div class="main">
<!--top-->
<div class="top clearfix">
<div class="w980">
<div class="left">目前已有306个城市  2123家影院在此比价</div>
<div class="top_right right">您好！欢迎来到影票夹！<a href="{$base_url}login">登录</a>|<a href="{$base_url}login">注册</a>|<a href="">收藏夹</a></div>
</div>
</div>
<div class="logo_div w980 clearfix">
<h1 class="logo left"><a href="{$base_url}nowplay"><img src="{$base_url}images/logo.jpg" /></a></h1>
<div class="city_div left">
    <span>城市</span>
    <b></b>
    <div class="city_tc" style="display:none;">
        <div class="city_tc_top"></div>
        <div class="city_tab_div">
            <div class="left hot_city">热门</div>
            <ul class="left hot_city_ul" id="tab">
              <li id="A">A-G</li>
              <li id="H">H-L</li>
              <li id="M">M-T</li>
              <li id="W">W-Z</li>
            </ul>
        </div>
        <div class="city_tab_nr" id="tab_div">
            <div>
                <ul id="citylist">
                    {foreach from=$cityList item=cityInfo}
                    <li><a href="javascript:void(0);" onclick="return setcokie({$cityInfo->d_c_id});return false;">{$cityInfo->name}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="search right"><input name="" type="text" class="txt" value="请输入电影名称"  onfocus="" onblur="" /><input name="" type="button" class="btn" /></div>
</div>
<!--menu-->
<div class="menu clearfix">
<div class="w980">
<ul><li><a href="{$base_url}nowplay" {if $type == 'index'}class="on"{/if}>首页</a></li><li><a href="{$base_url}list" {if $type == 'detail'}class="on"{/if}>影片</a></li><li><a href="{$base_url}cinema" {if $type == 'cinema'}class="on"{/if}>影院</a></li></ul>
</div>
</div>
{if $tab == 'nowplaying'}
<!--main-->
<div class="w980 clearfix">
<!--left-->
<div class="index_main_left mtp10 left">
<!--banner-->
<div class="banner" id="change_div">
<a href="{$base_url}movie/3364223/108288" class="a_bigImg"><img src="{$base_url}images/poster_01.jpg" width="740" height="320" alt="" /></a>
<a href="{$base_url}movie/3789848/108288" class="a_bigImg"><img src="{$base_url}images/poster_02.jpg" width="740" height="320" alt="" /></a>
<a href="{$base_url}movie/1292523/108288" class="a_bigImg"><img src="{$base_url}images/poster_03.jpg" width="740" height="320" alt="" /></a>
<a href="{$base_url}movie/24721493/108288" class="a_bigImg"><img src="{$base_url}images/poster_04.jpg" width="740" height="320" alt="" /></a>
<a href="#" class="a_last" title="上一个">上一个</a><a href="#" class="a_next" title="下一个">下一个</a>
<ul class="ul_change">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
</ul>
</div>
{/if}
<script type="text/javascript">
$(".city_div").click(function(){
  $(".city_tc").show();
},function(){
  $(".city_tc").show();  
});

$(".hot_city_ul li").click(function() {
    var id = $(this).attr("id");
    var begin;
    var end;
    switch (id) {
        case 'A':
            begin = 'a';
            end = 'g';
            break;
        case 'H':
            begin = 'h';
            end = 'l';
            break;
        case 'M':
            begin = 'm';
            end = 'v';
            break;
        case 'W':
            begin = 'w';
            end = 'z';
            break;
        default:
            break;
    }

    $.post("{base_url()}loadajax/citylist", 'begin=' + begin + '&end=' + end, function(data) {
        var listring = '';
        if (data) {
            for(var i in data) {
                listring += "<li><a href='javascript:void(0);' onclick='return setcokie(" + data[i].d_c_id + ");return false;'>" + data[i].name + "</a></li>";
            }
        }
        $("#citylist").html(listring);
    }, 'json');
});

//设置cookie
function setcokie(number) {
    var dcid = $.cookie('d_c_id');
    var paths = "{$base_url}";
    {literal}
    $.cookie('d_c_id', number,  {'expires': 7, 'path': paths});
    {/literal}
    var local = window.location.href;
    if(local.indexOf(dcid) > -1) local = local.replace(dcid, number);
    else local = local + "/" + number;
    window.location.href  = local;
}

</script>