<!--footer-->
<div class="footer">
<div class="footer_menu"><a>友情链接</a>|<a href="http://www.dianying.qq.com">qq电影票</a>|<a href="http://www.douban.com">豆瓣</a>|<a href="http://www.mtime.com">时光网</a>|<a href="http://www.wangpiao.com">网票网</a>|<a href="http://www.piaolala.com">票啦啦</a>|<a href="http://www.meituan.com">美团网</a></div>
<div class="copyright">
<p>Copyright©2003 - 2012 www.yingpiaojia.com All rights reserved. 影票夹 版权所有  备案编号:京ICP备13023341号</p>
<p class="mtp10"><a href="#" class="mrt10"><img src="{$base_url}images/copyright_01.gif" /></a><a href="#"><img src="{$base_url}images/copyright_02.gif" /></a></p>
</div>
</div>
</div>