<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>影票夹</title>
<link href="{$base_url}css/base.css" rel="stylesheet" type="text/css" />
</head>
<div class="main">
<!--top-->
<div class="top clearfix">
<div class="w980">
<div class="left">目前已有60个城市  2123家影院在此比价</div>
<div class="top_right right">您好！欢迎来到影票夹！<a href="#">登录</a>|<a href="#">注册</a>|<a href="#">收藏夹</a></div>
</div>
</div>
<div class="logo_div w980 clearfix">
<h1 class="logo left"><a href="#"><img src="{$base_url}images/logo.jpg" /></a></h1>
<div class="city_div left"><span>城市</span><b></b></div>
<div class="search right"><input name="" type="text" class="txt" value="请输入电影名称"  onfocus="" /><input name="" type="button" class="btn" /></div>
</div>
<!--menu-->
<div class="menu clearfix">
<div class="w980">
<ul><li><a href="#">首页</a></li><li><a href="#" class="on">影片</a></li><li><a href="#">影院</a></li></ul>
</div>
</div>
<!--main-->
<div class="w980 clearfix">
<div class="location">您现在的位置：<a href="#">首页</a>&gt;<a href="#">影片</a>&gt;<span>正在热映</span></div>

<div class="movie_xx clearfix">
<div class="movie_tp left"><img src="{$base_url}images/06.jpg" /></div>
<div class="movie_txt right">
<div class="video_top">
<h1>致我们终将逝去的青春<span>正在上映</span></h1>
<div class="movie_btn_div clearfix"><a class="gp left" href="#">比价购票</a><a class="sc left" href="#">收藏<span>（1025人）</span></a><a class="kg left" href="#">看过<span>（1025人）</span></a><span class="right num">9.0</span></div>
</div>

<div class="movie_left left">
<h1>影片阵容</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>导演：赵薇</td>
  </tr>
  <tr>
  <td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="36">主演：</td>
    <td>韩庚 赵又廷 杨子珊 江疏影 林更新 安又琪 郑恺 黄明 佟丽娅...</td>
   </tr>
   </table>
  </td>
  </tr>
  <tr>
    <td>地区：内地</td>
  </tr>
  <tr>
    <td>类型：爱情</td>
  </tr>
  <tr>
    <td>上映时间：2013.04.26</td>
  </tr>
  <tr>
    <td>片长：130分钟</td>
  </tr>
</table>

</div>

<div class="movie_right right">
<h1>剧情介绍</h1>
<p>"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥--林静浓浓的爱意，来到大学，认识了自己最要好的朋友——阮阮。可是当她联系林静的时候，却发现突然出国的林静并没有告诉她任何消息。而这时，家中又遭到重大变故，父母离异，原因竟然是她的妈妈和林静的爸爸互相爱慕。生性豁达的她埋藏起自己的爱情，享受大学时代的快乐生活。却在一场闹剧后，意外地爱上同学校的陈孝正，经历种种坎坷，郑薇终于和陈孝正在一起了。板正自闭、敏感自尊、家庭贫困的陈孝正却在毕业的时候选择了出国留学，放弃了郑微。三年后，林静和陈孝正都出现在郑微面前，而工作后的郑微也纠葛在工作、感情甚至阴谋之中。郑微感情的天平，会倾向于哪一个呢？</p>
</div>

</div>
</div>

<div class="video_list left">
<h1 class="video_list_h1" style="border-bottom:2px solid #990000; padding-bottom:10px;">放映排期<span>（本放映排期时间仅作参考，具体播放时间以影院实际播放为准）</span></h1>

<p class="upcoming">暂无排期 ，上映时间为：2013年04月17日</p>

    
</div>

<div class="video_list_right right">
<div class="right_banner"><a href="#"><img src="{$base_url}images/03.jpg"></a></div>
<div class="hot_video">
<div class="hot_video_tt"><span class="right"><a href="#">更多</a></span>其他热门影片</div>
<div class="hot_video_list clearfix">
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
<dl class="right_video clearfix"><dt><a href="#"><img src="{$base_url}images/08.jpg"></a></dt><dd>2013.03.29</dd><dd><a href="#">厨子戏子痞子</a></dd><dd><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star01.gif" /><img src="{$base_url}images/star02.gif" /><img src="{$base_url}images/star02.gif" /></dd><dd>类型：动作/喜剧/战争</dd><dd>地区：内地</dd><dd>三影帝同台飙戏</dd></dl>
</div>
</div>
</div>


</div>

<!--footer-->
<div class="footer">
<div class="footer_menu"><a href="#">友情链接</a>|<a href="#">北外网院</a>|<a href="#">北外成功英语</a>|<a href="#">剑桥证书</a>|<a href="#">北外青少英语</a>|<a href="#">北外留学预科</a>|<a href="#">北京外国语大学</a>|<a href="#">外研社</a>|<a href="#">剑桥ESOL考试中心</a>|<a href="#">土豆视频空间</a>|<a href="#">教育团购网</a></div>
<div class="copyright">
<p>Copyright©2003 - 2012 wangpiao.com All rights reserved. 影票夹 版权所有  备案编号：110105202京ICP证090693京ICP备10039898号-4</p>
<p class="mtp10"><a href="#" class="mrt10"><img src="{$base_url}images/copyright_01.gif" /></a><a href="#"><img src="{$base_url}images/copyright_02.gif" /></a></p>
</div>
</div>
</div>
<script type="text/javascript" src="{$base_url}js/jquery-1.4.2.min.js"></script>
<script src="{$base_url}js/jquery.soChange-min.js" type="text/javascript"></script>
<script>
//搜索获取失去焦点事件
$(".search input.txt").focus(function(){
  $(this).parent().addClass("search_on");
  })
$(".search input.txt").blur(function(){
  $(this).parent().removeClass("search_on");
  })
$(".search").hover(function(){
  $(this).addClass("search_on");
  })
//tab切换
$(function(){
 $("#tab_div>div:not(:first)").hide();
 $("#tab li").hover(function(){
    var index = $("#tab li").index(this);
    $(this).addClass("on").siblings().removeClass("on");
    $("#tab_div>div").eq(index).show().siblings().hide();
 });
});
//比价
$(".bjgp").click(function(){
    var index = $(this).attr('id');
  $("#list_"+index).toggle();
 });
//比较展开
$('.zk_btn').click(function(){
if($(this).parent().parent().siblings(".video_none").is(":visible")){
  $(this).parent().parent().siblings(".video_none").hide();
  $(this).removeClass("zk_btn_on").children("span").text("全部展开")
  }else{
  $(this).parent().parent().siblings(".video_none").show();
  $(this).addClass("zk_btn_on").children("span").text("全部收起")
    }
    return false;              
})
</script>
<!--[if IE 6]>
<script type="text/javascript" src="{$base_url}js/ie6png.js"></script>
</script>
<script type="text/javascript">
  DD_belatedPNG.fix('a');
</script>
 <![endif]-->
</body>
</html>
