<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{include file="inc_header.html" tab="none" type="detail"}
<!--main-->
<div class="w980 clearfix">
<div class="location">您现在的位置：<a href="#">首页</a>&gt;<a href="#">影片</a></div>
<div class="movie_tab_div left">
    <ul id="tab"><li class="on" index="nowplaying_div">正在热映</li><li index="laterplay_div">即将上映</li></ul>
</div>
<div class="movie_list clearfix">
<div class="movie_list_div" id="tab_div">
<div id="nowplaying_div">
{foreach from=$movieList item=movieInfo}
<dl class="movie_dl mrt13">
  <dt>
    <a href="{$base_url}movie/{$movieInfo->d_id}/108288"><img src="{$base_url}images/{$movieInfo->d_id}_large.jpg" onload="AutoResizeImage(190,260,this)"/><i></i>
      <div>
        <p>{$movieInfo->title}</p>
        <p>已有<span class="orange">1235</span>人比价</p>
        <p class="mtp35">导演：{$movieInfo->director}</p>
        <p>主演：{$movieInfo->cast}</p>
        <p>片长：{$movieInfo->movie_duration}</p>
        <p>上映日期：{$movieInfo->pubdate}</p>
      </div>
    </a>
  </dt>
  <dd>
    <h3 class="left">
      <span><a href="#">{$movieInfo->title|truncate:9:"..":true}</a></span>({$movieInfo->movie_type})
    </h3>
    <span class="right score">{$movieInfo->rating}</span>
  </dd>
  <dd>
    <div class="left">
      <span class="price">33</span>元起
    </div>
    <a href="{$base_url}movie/{$movieInfo->d_id}/108288" class="right xq">点击详情</a>
  </dd>
</dl>
{/foreach}
</div>
<div id='laterplay_div'>
<div class="sy clearfix">
   <h1 class="month">{$smarty.now|date_format:'%m'}月</h1>
   {foreach from=$laterMovieList item=movieInfo}
    <dl class="movie_dl mrt13">
      <dt>
        <a href="#"><img src="{$base_url}images/{$movieInfo->d_id}_later_large.jpg" onload="AutoResizeImage(190,260,this)"/></a>
      </dt>
      <dd>
        <a href="#" class="tt">{$movieInfo->title}</a>
      </dd>
      <dd>上映时间:{$movieInfo->pubdate}</dd>
    </dl>
    {/foreach}
</div>

</div>
</div>
</div>
</div>
{include file="inc_footer.html"}
<script>
//搜索获取失去焦点事件
$(".search input.txt").focus(function(){
	$(this).parent().addClass("search_on");
	})
$(".search input.txt").blur(function(){
	$(this).parent().removeClass("search_on");
	})
$(".search").hover(function(){
	$(this).addClass("search_on");
	})
//tab切换
$(function(){
 $("#tab_div>div:not(:first)").hide();
 $("#nowplaying_div").show();
 $("#tab li").hover(function(){
    var index = $(this).attr("index");
    $(this).addClass("on").siblings().removeClass("on");
    $("#" + index).show().siblings().hide();
 });
});
</script>
<!--[if IE 6]>
<script type="text/javascript" src="js/ie6png.js"></script>
</script>
<script type="text/javascript">
	DD_belatedPNG.fix('a');
</script>
 <![endif]-->
</body>
</html>
